@use '../../variables' as *;
@use '../../mixins' as *;

.side-overlay-backdrop {
  @include overlay-backdrop;
  background: rgba(var(--base-rgb), 20%);
  z-index: $z-index-modal-overlay;
}

.side-overlay {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: var(--side-overlay-width, 400px);
  z-index: $z-index-modal-overlay + 1;
  @include panel;
  border-left: 1px solid var(--border-color);
}

.side-overlay__header {
  @include flex-between;
  align-items: flex-end;
  padding: var(--spacing-sm) var(--spacing-lg);
  flex-shrink: 0;
  border-bottom: 1px solid var(--border-color);
}

.side-overlay__body {
  flex: 1;
  overflow-y: auto;
  padding: var(--spacing-sm) var(--spacing-lg);
  min-height: 0;
}

.side-overlay__footer {
  padding: var(--spacing-sm) var(--spacing-lg);
  border-top: 1px solid var(--border-color);
  @include flex-end;
  gap: var(--spacing-sm);
  flex-shrink: 0;
}

.side-overlay-enter-active,
.side-overlay-leave-active {
  transition: opacity $transition-slow;

  .side-overlay {
    transition: transform $transition-slow;
  }
}

.side-overlay-enter-from,
.side-overlay-leave-to {
  opacity: 0;

  .side-overlay {
    transform: translateX(100%);
  }
}
